.card-container {
    position: fixed;
    width: 300px;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    margin: 15px;
    margin-top: 15px;
    display: inline;
}

.card-title {
    padding-left: 15px;
    padding-top: 15px;
}

.card-container:hover{
    transform: scale(1,1);
    
}

.card-body {
    color: rgb(153, 51, 110);
    font-size: 35px;
    padding-left: 15px;
}

.card-text {
    color: gray;
    font-size: 15px;
    padding-left: 15px;
}

.btn {
    color: rgb(207, 230, 210);
    background-color: #adffad;
    text-align: center;
}